@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
}
body {
	background: #DDDDDD;
	margin: 0 auto;
	font-size: 12px;
	font-family: Arial, ̎宋体, Helvetica, sans-serif;
	color: #000;
	overflow:auto;
}
img {
	border: 0;
}
li {
	list-style: none;
}
ul {
	list-style: none;
}
div {
	margin: 0;
}
a {
	color: #525252;
	text-decoration: none;
}
a:hover {
	color: #000000;
}
p {
	line-height: 200%;
}
td{ font-family: Verdana; font-size: 11px }
.op_info{
	    background:url('../images01/op_bg.gif');
	    position:absolute;
	    right:8%;
	    height:48px;
	    top:6px;
	    padding:2px;
	    height:auto;
	    border-bottom:#CCCCCC 1px solid;
	    border-right:#CCCCCC 1px solid;
	    border-left:#CCCCCC 1px solid;
}
html{
	  scrollbar-face-color:#CEE8FF;
	  scrollbar-highlight-color:#C5C5C5;
	  scrollbar-3dlight-color:BACBF1;
	  scrollbar-darkshadow-color:#FFFFFF;
	  scrollbar-arrow-color:000000;
	  scrollbar-track-color:#EAEAEA;
	}